.search-bar {
    background-color: #e6ecf0;
    border-radius: 50px;
}

.search-input {
    background-color: unset;
    border: unset;
    margin-left: 10px;
    display: inline-block;
}

.search-bar1 {
    height: 40px;
    margin-left: 25px;
    margin-top: 20px;
}

.search-bar2 {
    float: left;
    height: 32px;
    margin-left: 20px;
    margin-top: 6px;
    /* width: 510px; */
}

.search-bar3 {
    margin: 10px 10px 0px 10px;
    height: 40px;
}

.search-input1 {
    margin-top: 7px;
}

.search-input2 {
    margin-top: 3px;
}

.search-input3 {
    margin-top: 6px;
    width: 300px;
}
