/* Styles in this file are shared among multiple components */
:root {
    --twitter-blue: #1da1f2;
}

a:hover {
    color: #1da1f2;
    text-decoration: none;
}

.text-primary {
    color: #1da1f2;
}

.btn-primary {
    background-color: #1da1f2;
    border: none;
    font-weight: bold;
}

.col {
    padding: 0;
}

.twitter-blue {
    color: #1da1f2;
}

.hr-sm {
    margin: auto;
}

.header1 {
    font-size: 20px;
    font-weight: 800;
}

.header2 {
    font-size: 18px;
    font-weight: 800;
}

.header3 {
    color: #657787;
    font-size: 15px;
    font-weight: bold;
}

.header3-primary {
    color: var(--twitter-blue);
}

.sub {
    color: #6b7b8a;
    font-size: 14px;
    font-weight: 500;
}

.tab:hover {
    background-color: rgb(218, 241, 255);
    color: var(--twitter-blue);
    text-decoration: none;
}

.tab-current {
    border-bottom: 2px inset;
    border-color: var(--twitter-blue);
}

.tab2 {
    float: left;
    margin-top: -2px;
    text-align: center;
    width: 50%;
}

.tab3 {
    float: left;
    padding: 12px 43px 13px 42.5px;
}
