/* Overrides */
:root {
    --twitter-blue: #1da1f2;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

a:hover {
    color: #1da1f2;
}

input {
    background-color: unset;
}

input:focus {
    outline: 0px;
}

.App {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

/* Bootstrap */
.text-primary {
    color: #1da1f2;
}

.btn-primary {
    background-color: #1da1f2;
    border: none;
    font-weight: bold;
}

/* Variables */
.twitter-blue {
    color: #1da1f2;
}

.hr-sm {
    margin: auto;
}

.header1 {
    font-size: 20px;
    font-weight: 800;
}

.header2 {
    color: #657787;
    font-size: 15px;
    font-weight: bold;
}

.header2-primary {
    color: var(--twitter-blue);
}

.sub {
    color: #6b7b8a;
    font-size: 14px;
}

/* Main Components */
.center-col {
    border-right: 1px solid;
    border-color: #dee2e3;
    display: inline-block;
    height: 100%;
    width: 600px;
}

.center-col-sm {
    border-right: 1px solid;
    border-color: #dee2e3;
    display: inline-block;
    height: 100%;
    width: 390px;
}

.right-col {
    float: right;
}

/* Nav Components */
.aiOutlineTwitter-wrapper {
    border-radius: 50%;
    height: 42px;
    padding: 4px 0px 0px 4px;
    margin: 5px 5px;
    width: 42px;
}

.aiOutlineTwitter-wrapper:hover {
    background-color: rgb(218, 241, 255);
}

.nav-link {
    padding: 5px 45px 5px 0px;
    margin-left: 12px;
}

.nav-item:hover {
    background-color: rgb(218, 241, 255);
    border-radius: 50px;
    cursor: pointer;
}

/* Tweet Components */
.user {
    border-radius: 50%;
    height: 49px;
    margin-left: 2px;
    margin-right: 2px;
    width: 49px;
}

input.tweet:focus::-webkit-input-placeholder {
    color: #bdc1c9;
}

.tweet-cmp {
    border-bottom: 10px solid;
    border-color: #e6ecf0;
    height: 120px;
}

.tweet-item-wrapper {
    border-radius: 50%;
    float: left;
    height: 30px;
    padding: 1px 0px 0px 5px;
    margin: -3px 10px 0px 0px;
    width: 30px;
}

.tweet-item-wrapper:hover {
    background-color: rgb(218, 241, 255);
}

/* Search Bar Components */
.search-bar1 {
    background-color: #e6ecf0;
    border-radius: 50px;
    height: 40px;
    margin-left: 25px;
    margin-top: 20px;
}

.search-bar2 {
    background-color: #e6ecf0;
    border-radius: 50px;
    float: left;
    height: 32px;
    margin-left: 20px;
    margin-top: 10px;
    width: 510px;
}

.search-input1 {
    background-color: #e6ecf0;
    display: inline-block;
    margin-left: 10px;
    margin-top: 7px;
}

.search-input2 {
    background-color: #e6ecf0;
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
}

/* Tab Components */
.tab:hover {
    background-color: rgb(218, 241, 255);
    color: var(--twitter-blue);
    text-decoration: none;
}

.tab-current {
    border-bottom: 2px inset;
    border-color: var(--twitter-blue);
    height: 55px;
}

/* Reusable Components */
.hoverable:hover {
    background-color: #edf0f1;
    cursor: pointer;
    z-index: 99;
}

.show-more:hover {
    background-color: #edf0f1;
    border-radius: 0px 0px 15px 15px;
    cursor: pointer;
    z-index: 99;
}

.story-title {
    font-weight: bold;
}

/* Post Components */
.post {
    border-bottom: 1px solid;
    border-color: #dee2e3;
    display: flex;
    min-height: 100px;
    padding: 8px 0px;
}

.post-user {
    float: left;
    height: 100%;
    max-width: 78px;
}

.post-icon-wrapper {
    color: #657787;
    float: left;
    font-size: 15px;
    margin-right: 80px;
    width: 50px;
}

.post-icon-comment:hover {
    color: #1da1f2;
}

.post-icon-retweet:hover {
    color: green;
}

.post-icon-like:hover {
    color: red;
}

.post-icon {
    color: #657787;
}

/* Explore Components */
.explore-header {
    border-bottom: 11px solid;
    border-color: #e6ecf0;
    height: 115px;
}

/* Messages Components */
.riMailAddLine-wrapper {
    border-radius: 50%;
    color: #1da1f2;
    float: right;
    height: 32px;
    padding: 0px 6px;
    width: 32px;
}

.riMailAddLine-wrapper:hover {
    background-color: rgb(218, 241, 255);
}
