/* Styles in this file are shared among multiple components */
:root {
    --twitter-blue: #1da1f2;
}

a:hover {
    color: #1da1f2;
    text-decoration: none;
}

.twitter-blue {
    color: #1da1f2;
}

.hr-sm {
    margin: auto;
}

.header1 {
    font-size: 20px;
    font-weight: 800;
}

.header2 {
    font-size: 18px;
    font-weight: 800;
}

.header3 {
    color: #657787;
    font-size: 15px;
    font-weight: bold;
}

.header3-primary {
    color: var(--twitter-blue);
}

.sub {
    color: #6b7b8a;
    font-size: 14px;
    font-weight: 500;
}

.icon-wrapper {
    background-color: unset;
    border: none;
    border-radius: 50%;
    float: left;
    height: 40px;
    width: 40px;
}

.icon-wrapper:focus {
    outline: none;
}

.icon-wrapper:hover {
    background-color: rgb(218, 241, 255);
}

.user-image {
    border-radius: 50%;
    height: 49px;
    margin-left: 2px;
    margin-right: 2px;
    width: 49px;
}

.post-icon-wrapper {
    color: #657787;
    float: left;
    font-size: 15px;
    margin-right: 7vw;
    width: 50px;
}

.post-icon-comment:hover {
    color: #1da1f2;
}

.post-icon-retweet:hover {
    color: green;
}

.post-icon-like:hover {
    color: red;
}

.post-icon {
    color: #657787;
}

.tab:hover {
    background-color: rgb(218, 241, 255);
    color: var(--twitter-blue);
    text-decoration: none;
}

.tab-current {
    border-bottom: 2px inset;
    border-color: var(--twitter-blue);
}

.tab3 {
    float: left;
    padding: 12px 43px 13px 42.5px;
}
